:root{
  --body-background: #f4f4f9;
  --btn-primary: #5cabf5;
  --btn-secondary: #f8e068;
  --btn-active: #4a90e2;
  --btn-edit: #ffd700;
  --btn-complete: #32cd32;
  --btn-delete: #ff6347;

}
* {
 box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--body-background);
}

.container{
  background-color: white;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1{
  text-align: center;
  padding-bottom: 15px;
}

#todoInput{
  width: 75%;
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;

}

#addTodo{
  color: white;
  border: none;
  background-color: var(--btn-primary);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

ul{
  list-style-type: none;
  padding: 0;
  word-break: break-all;
}

li{
  padding: 10px;
  border-bottom: 1px solid #ddd;
  
}

li:hover{
  background-color: aliceblue;
}

li:last-child{
  border-bottom: none;
}

.filterBtn, .editBtn, .deleteBtn, .completeBtn{
  margin: 5px;
  padding: 10px 15px;
  background-color: var(--btn-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ;
}

.editBtn{
  background-color: var(--btn-edit);
}

.deleteBtn{
  background-color: var(--btn-delete);
}

.completeBtn{
  background-color: var(--btn-complete);
}
.editBtn:hover, .deleteBtn:hover, .completeBtn:hover{
  background-color: rgb(34, 145, 241);
  color: white;
}

.filterBtn:hover{
  background-color: var(--btn-active);
  color: white;
}

.todoItem{
  letter-spacing: .3px;
}

.todoItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}